@import url('https://fonts.googleapis.com/css?family=BenchNine:700');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


body {
    font-family: 'Nanum Gothic', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #002060;
    /*overflow: hidden;  스크롤이 뷰포트를 넘어가도 안나타나게 함*/
}

  /* 스크롤바 스타일 지정 */

  ::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

/* 로고 컨테이너 */
#logo-text {
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

#logo-container h2 {
    text-align: left;
    margin-right: 0;
    /* 간격을 없애기 위해 0으로 설정 */
    color: white;
}

#logo-container img {
    float: left;
    margin-right: 10px;
}

.car-logo {
    position: absolute;
    /* z-index: 1; */
    top: 104px;
    right: 220px;

}



#logo-container {
    font-family: 'Nanum Gothic', sans-serif;
    /* position: relative; */
    height: 21vh;
    margin: 0;
    background-color: #002060;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 48px;
}

#result-container {
    background-color: #B5E0F5;
    border-radius: 20px;
    /* overflow: auto; */
    box-shadow: inset 0 2px 4px rgba(9, 49, 127, 0.5);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    /* position: relative; */
    /* margin-top: 18px; */
}

.button {
    font-family: 'Nanum Gothic', sans-serif;
    /* position: relative; */
    padding: 20px;
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #E4F4FC;
    color: #595b5e;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    width: 98%;
    height: 120px;
    /* 원하는 높이 값으로 설정하세요 */
    box-shadow: 0 2px 2px rgba(9, 49, 127, 0.3);
}

.p1 {
  position: fixed;
  bottom: 5%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 11px;
  color: #333;
}

h3 {
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 800;
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.8);

}

h4 {
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: 5px;
    /* h4 요소의 위쪽 간격을 조정 */
    color: #909396;
}






.rate-box{
    margin-top: 20%;
    height: 7%;
    height: 0%;
}

.rate-box1{
  overflow: auto;
    padding: 5%;
    margin-top: 5%;
    height: 230px;
    background-color: white;
    box-shadow: inset 0 0 10px rgba(82, 195, 251, 0.335);
  overflow: auto;
}

 #agreement-image{
    float: left;
}


#agreement-text{
    /* margin-top: 100%; */
    padding: 10%;
    margin-left: 15%;
    width: 100%;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif; 
    font-weight: 400;
    color: #002060;


}

.agreement-popup {
    margin-top: 0%;
    margin-left: 0%;
    height: 60%;
    width: 90%;
    display: flex;
    justify-content: left; 
    margin-top:10%;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif; 
    font-weight: 400;
    box-shadow: inset 0 0 10px rgba(82, 195, 251, 0.335);
    background-color: white;
    /* box-shadow: 0 0 10px rgba(181, 224, 245, 0.3); */
    padding: 2%;
    line-height: 1.5;
    overflow: auto;
    color: #002060;
  } 


  #agreement-content {
    /* margin-top: 10%; */
    height: 65%;
    width: 100%;
    text-align: left;
  }
  
/* 결과 팝업 */
/* .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  } */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-container {
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
    background-color: #B5E0F5;
    border-radius: 20px;
    overflow: auto;
    box-shadow: inset 0 2px 4px rgba(9, 49, 127, 0.5);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    max-width: 100%;
    width: 95%;
    height: 95%;
    top: 0;

}

.popup-container .popup {
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
    top: 20%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    background-color: #eaf5fa;
    width: 100%;
    height: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}


.popup-container .close-button {
    position: fixed;
    top: 3%;
    right: 6%;
    color: #61bcea;
    font-size: 25px;
    cursor: pointer;
}

.popup-content {
    display: flex;
    flex-direction: column;
}

.popup {
font-family: 'Nanum Gothic', sans-serif;
font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  color: #333;
}

.popup-lawer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
  }


.popup-header-rate{
    font-size: 25px;
    font-family: 'Nanum Gothic', sans-serif;
    text-shadow: 2px 2px 1px rgba(229, 232, 255, 0.8);
    font-weight: 800;
    top: 9%;
    left: 25%;
    position: absolute;
}
.popup-header-agreement{
    font-size: 25px;
    font-family: 'Nanum Gothic', sans-serif;
    text-shadow: 2px 2px 1px rgba(229, 232, 255, 0.8);
    font-weight: 800;
    top: 9%;
    left: 25%;
    position: absolute;
}

.popup-header-lawer {
    font-size: 25px;
    font-family: 'Nanum Gothic', sans-serif;
    text-shadow: 2px 2px 1px rgba(229, 232, 255, 0.8);
    font-weight: 800;
    top: 9%;
    left: 25%;
    position: absolute;
}
.popup-header-law{
    font-size: 25px;
    font-family: 'Nanum Gothic', sans-serif;
    text-shadow: 2px 2px 1px rgba(229, 232, 255, 0.8);
    font-weight: 800;
    top: 9%;
    left: 25%;
    position: absolute;
}

.lawer-popup-text{
    margin-top:10%;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif; 
    font-weight: 400;
    height:60%;
    width: 80%;
    box-shadow: inset 0 0 10px rgba(82, 195, 251, 0.335);
    background-color: white;
    /* box-shadow: 0 0 10px rgba(181, 224, 245, 0.3); */
    padding: 5%;
    line-height: 1.5;
    overflow: auto;
    color: #002060;
}

.law-popup-text{
    margin-top: 20%;
    height:80%;
    width: 95%;
}

.law-popup-text-2{
    margin-top: 10%;
    height:400px;
    width: 90%;
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif; 
    font-weight: 400;

    box-shadow: inset 0 0 10px rgba(82, 195, 251, 0.335);
    background-color: white;
    /* box-shadow: 0 0 10px rgba(181, 224, 245, 0.3); */
    padding: 5%;
    line-height: 1.5;
    overflow: auto;
    color: #002060;
}

.lawer-1{
    font-size: 17px;
    font-family: 'Nanum Gothic', sans-serif; 
    font-weight: 700;
    color: #002060;
}
.popup-button-container {
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
}


.button-style {
    display: inline-block;
    background-color: #002060;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .button-style:hover {
    background-color: #B5E0F5;
  }

  .agreement-popup-paragraph{
    color: #333;
    margin-bottom: 20%;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 10px;
    width: 90%;
    text-align: left;
    line-height: 1.5;
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
  }


  .law-popup-paragraph{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 10px;
    width: 90%;
    text-align: left;
    line-height: 1.5;
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
  }

.agreement-popup-paragraph,
.rate-popup-paragraph,
.law-popup-paragraph{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 10px;
    text-align: left;
    line-height: 1.5;
    position: absolute;
    top: 0;
    z-index: 1;
    text-shadow: 2px 2px 1px rgba(229, 232, 255, 0.8);
  }

  .lawer-popup-paragraph{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    line-height: 1.5;
    position: absolute;
    top: 0;
  }

  .popup #rate-popup{
    width: 90%;
    height: 90%;
  }

/* .guide-button {
    padding: 10px 20px;
    background-color: #FFCD2D;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } */

.guide-button {
    font-family: 'Nanum Gothic', sans-serif;
    /* position: relative; */
    padding: 20px;
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #FFCD2D;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    width: 98%;
    height: 120px;
    /* 원하는 높이 값으로 설정하세요 */
    box-shadow: 0 3px 3px rgba(26, 51, 101, 0.3);
}

.guide-button:hover {
    background-color: #002060;
}

.guide-popup-text {
    order: -1;
}

.guide-popup-paragraph {
    margin-bottom: 20px;
}


.similarity-box {
    width: 300px;
    height: 120px;
}

#lawerValue.left-align{
    font-family: 'Nanum Gothic', sans-serif;
    width: 280px;
    height: 440px;
    margin-left: 20px;
    font-size: 17px;
    padding: 10px;
}
#summaryValue.left-align {
    font-family: 'Nanum Gothic', sans-serif;
    width: 280px;
    height: 440px;
    margin-left: 20px;
    font-size: 17px;
    padding: 10px;
}

.centered-text {
    text-align: center;
    font-size: 30px; 
    font-weight: bold;
    color: #002060;
  }




.yellow-box {
    background-color: #FFC000;
    padding: 10px;
    border-radius: 15px;
    width: 40%;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 10px rgba(174, 169, 70, 0.3);
  }




  #download-button {
    position: absolute;
    top: 80%;
    margin-top: 10px;
    width: center;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
  }

  .law-popup-paragraph {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    padding: 10px;
    text-align: left;
    line-height: 1.5;
  }
  

 #ratioValue{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 25px;
    font-weight: 800;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    color: #002060;
 }





 #rate{
    background-image: url('/static/images/과실비율_w.png');
    background-size: 40%;
    background-repeat: no-repeat;
  }
  

  #agreement {
    background-image: url('/static/images/협의서_w.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right;
  }


  #law {
    background-image: url('/static/images/판례요약_w.png');
    background-size: 40%;
    background-repeat: no-repeat;

  }

  #lawer {
    background-image: url('/static/images/사연 생성_w.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right;
  }



/*   
  #rate_1{
    background-image: url('/static/images/과실비율_w.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  

  #agreement_1 {
    background-image: url('/static/images/협의서_w.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: right bottom;
  }


#law_1 {
    background-image: url('/static/images/판례요약_w.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: left bottom;
}


  #lawer_1 {
    background-image: url('/static/images/사연 생성_w.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: right bottom;
  } */



  

/* 모바일에 최적화된 예외 CSS 코드*/
@media screen and (min-width: 350px) and (max-width:1024px) {
    .logo-pc {
        display: none;
        /* 화면 너비가 767px 이하이면 숨김 */
    }

    .logo-mobile {
        display: block;
        /* 화면 너비가 767px 이하일 때 표시됨 */
    }
}